{% extends "layout.html" %}

{% block title %}Visualization{% endblock %}

{% block main %}

    <div class="bg_img d-flex align-items-top vh-100">
        <div class="container p-3 graybox">
            <div class="text-center text-white">
                <div class="row justify-content-center p-4">
                    <h1 style="color: white;">{{ username }}'s Stats</h1>
                </div>
                <div class="row justify-content-center">
                    Total Height: {{ total_height }} feet
                </div>
                {% for year, height in yearly_height.items() %}
                    <div class="row justify-content-center">
                        {{ year }}: {{ height }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
