{% extends "layout.html" %}

{% block title %}Visulization{% endblock %}

{% block main %}

    <div class="bg_img d-flex align-items-top vh-100">
        <div class="container p-3 graybox">
            <div class="text-center text-white">
                <div class="row justify-content-center p-4">
                    <h1 style="color: white;">Error</h1>
                </div>
                <div class="row justify-content-center">
                    {{ data }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
