{% extends "layout.html" %}

{% block title %}Visulization{% endblock %}

{% block main %}
    <div class="col-xs-0"></div>
    <div class="col-md-5 col-sm-7 p-2 graybox round mx-auto">
        <div class="text-center">
            <div class="row justify-content-center p-4">
                <h1>Error</h1>
            </div>
            <div class="row justify-content-center p-3">
                {{ data }}
            </div>
        </div>
    </div>
    <div class="col-xs-0"></div>
{% endblock %}
